.answerContainer {
  align-self: end;
  background-color: #f5f9fa;
  display: flex;
  padding: 15px;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
}

.answerContainer::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -15px;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #f5f9fa;
  border-radius: 0 0 5px 0;
}


.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

input {
  width: 220px;
  height: 30px;
  margin-right: 15px;
  border-radius: 5px;
  border: solid 1px rgb(62, 169, 231);
  outline: none;
  padding: 15px;
}


.errorMessage {
  color: #e04a3d;
  margin-top: 15px;
}
