.formContainer {
  width: 100%;
  max-width: 450px;
  border-radius: 20px 20px 0 0;
  height: 100%;
  background-color: rgb(62, 169, 231);
  display: flex;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}


@media screen and (max-width: 600px) {
  .formContainer {
    border-radius: 0;
  }
}

.fields {
  display: flex;
  flex-direction: column;
}


.loading {
  background-color: #f5f9fa;
  padding: 15px;
  border-radius: 15px;
  width: 65px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}


.btnSubmit {
  width: 200px;
  background-color: #f5f9fa;
  color: rgb(62, 169, 231);
  border: 0;
  outline: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  align-self: center;
  margin-top: 25px;
}

.btnSubmit:hover {
  background-color: #f5f7faea;
}
