.questionContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 15px;
}


.textQuestion {
  color: #888;
  font-family: 'Roboto';
  background-color: #f5f9fa;
  max-width: 300px;
  border-radius: 15px;
  padding: 15px;
  font-size: 12pt;
  position: relative;
  margin: 15px 0;
}

.textQuestion::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -15px;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #f5f9fa;
  border-radius: 5px 0 0 0;
}
