@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.chatContainer {
  width: 100%;
  max-width: 450px;
  border-radius: 15px 15px 0 0;
  background-color: rgb(135, 179, 228);
  padding: 20px;
  overflow: auto;
}




@media screen and (max-width: 600px) {
  .chatContainer {
    border-radius: 0;
  }
}

li {
  list-style: none;
  background: #fff;
  padding: 10px;
  margin-bottom: 25px;
  position: relative;
  font-family: 'Roboto';
  word-wrap: break-word;
  border-radius: 15px;
  min-height: 50px;
  max-width: 250px;
}

.receptor {
  margin-left: 15px;
}

.receptor::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 15px;
  left: -15px;
  border-bottom: 18px solid transparent;
  border-right: 15px solid #fff;
  border-radius: 5px 0 0 0;
}

 .transmiter::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 15px;
  right: -15px;
  border-bottom: 18px solid transparent;
  border-left: 15px solid #fff;
  border-radius: 0 5px 0 0;
}


.messageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 5px;
}

.iconContainer {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
